@font-face {
  font-family: computerPixel;
  src: url("../../assets/fonts/computer_pixel-7.ttf");
}

.title span {
  margin-left: 10px;
  font-size: 92px;
  vertical-align: middle;
  font-family: computerPixel;
  cursor: default;
  width: 100%;
}

.title .logo {
  width: 64px;
  height: 64px;
  vertical-align: middle;
}

.info-container {
  display: flex;
}

.info-container .placeholder {
  flex: 2;
}

.info-container .money-container {
  font-family: computerPixel;
  font-size: 32px;
  flex: 1;
  text-align: right;
  margin: 0 14px;
}

.source {
  position: absolute;
  top: -12px;
  right: 10px;
  color: white;
}
