body,
html {
  margin: 0;
  position: relative;
  text-align: center;
  background-color: black;
  color: white;
  font-family: monospace;
}

.main-content {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  margin: 10px;
}

.main-content > * {
  flex: 1;
}

@media (orientation: portrait) {
  .main-content {
    flex-direction: column;
  }
}
